<div class="container-fluid d-flex justify-content-center background-color">
  <div class="col-10">
    <div class="row">
      <div class="col my-category">
        <h4 class="category font-color-gray">
          Resultados:
        </h4>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-4 p-1" *ngFor="let site of searchResult?.results">
        <div class="col col-general">
          <div style="font-size: 10px" class="col text-center mt-1 font-color-negro">id: {{ site?.id }} </div>
          <div style="font-size: 10px" class="col text-center m-0 font-color-negro">Agency
            Code: {{ site?.agency_code }} </div>
          <div style="font-size: 10px" class="col text-center m-0 font-color-negro">
            Distance: {{ site?.distance }} </div>
          <div style="font-size: 14px" class="text-center font-color-negro my-2">{{ site?.description }} </div>
          <div style="font-size: 12px" class="text-center font-color-negro">{{ site?.address.address_line }} </div>
          <div style="font-size: 12px" class="text-center font-color-negro">{{ site?.address.city }}
            , {{ site?.address.country }} </div>
          <div class="row d-flex justify-content-center">
            <div class="col-2">
              <a (click)="likeAgency(site)">
                <img class="imagen-likes"  src="././assets/image/like.svg">
              </a>
            </div>
            <div class="col-2">
              <a (click)="dislikeAgency(site)">
                <img class="imagen-likes" src="././assets/image/dislike.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
